<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div>
            <h1>
                THE SPORTS CLUB
            </h1>
        </div>

        <div class="header-list">
            <li>Home</li>
            <li>About</li>
            <li>Membership</li>
            <a href="login.html">
                <li>Login</li>
            </a>
        </div>
    </header>
    <!-- hero section -->

    <section class="hero">
        <div class="hero-container">
            <h5>
                TRAIN WITH US
            </h5>
            <h3>
                FEEL THE ADRENALIN
            </h3>
            <p>
                Get professional advice from experts in the sports you love!
            </p>
        </div>
    </section>

    <!-- our programs -->

    <section class="our-program">
        <div class="our-program-head">
            <h2>
                Our Programs
            </h2>
        </div>

        <div class="program-container">
            <div class="programs-info">
                <div class="cycling">
                    <h2>
                        CYCLING
                    </h2>
                </div>
                <div class="golf">
                    <h2>
                        GOLF
                    </h2>
                </div>
                <div class="swimming">
                    <h2>
                        SWIMMING
                    </h2>
                </div>
            </div>
            <div class="programs-info">
                <div class="tennis">
                    <h2>
                        TENNIS
                    </h2>
                </div>
                <div class="track">
                    <h2>
                        TRACK TRAINING
                    </h2>
                </div>
                <div class="weight">
                    <h2>
                        WEIGHT TRAINING
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <!-- banner -->
     <section class="banner">
         <div class="banner-head">
           <h2>
            THE BEST SOLUTION FOR YOUR SPORTS GROWTH
           </h2>
         </div>

         <div class="banner-btn">
            <button >
                Join Now 
            </button>
         </div>
     </section>
    <!-- subscription prices -->
    <section class="subscription">
        <div class="subscription-head">
            <h1>
                SUBSCRIPTION PRICES
            </h1>
        </div>
        <div class="subscription-para">
            <h4>
                EXCLUSIVE TRAINING PACKAGES
            </h4>
        </div>
        <div class="subscription-items">
            <div class="package">
                <img src="/images/package1.jpg" alt="">

                <h4>
                    SWIMMING COACH
                </h4>
                <p>
                    Training Center
                </p>
                <p class="membership-price">
                    Membership Plan: $15/month
                </p>
            </div>
            <div class="package">
                <img src="/images/package2.jpg" alt="">

                <h4>
                    TENNIS CHAMPION
                </h4>
                <p>
                    Reputed Training
                </p>
                <p class="membership-price">
                    Membership Plan: $20/month
                </p>
            </div>
            <div class="package">
                <img src="/images/package3.jpg" alt="">

                <h4>
                    TREKKING PRACTICE
                </h4>
                <p>
                    By Well Experienced
                </p>
                <p class="membership-price">
                    Membership Plan: $25/month
                </p>
            </div>
        </div>

    </section>

   

    <section class="testimonials">
        <div class="testimonials-head">
            <h1>
                What our Client says
            </h1>
        </div>

        <div class="testimonials-content">
            <div class="testimonials-div">
                <p>
                    ⭐⭐⭐⭐⭐
                </p>
                <p class="testimonials-para">
                    Joining this sports club has been a game-changer for me. The coaching staff is highly skilled, and
                    they genuinely care about each member’s progress. I've improved my game and made some lifelong
                    friends along the way!
                </p>
                <h4>
                    Taylor, Football Player
                </h4>
            </div>
            <div class="testimonials-div">
                <p>
                    ⭐⭐⭐⭐⭐
                </p>
                <p class="testimonials-para">
                    I've been part of many sports clubs over the years, but none as focused on individual growth as this
                    one. The personalized training programs and regular feedback have taken my performance to the next
                    level.
                </p>
                <h4>
                    Riley, Basketball Player
            </div>
            <div class="testimonials-div">
                <p>
                    ⭐⭐⭐⭐⭐
                </p>
                <p class="testimonials-para">
                    The facilities here are modern and well-maintained, and the atmosphere is always welcoming and
                    motivating. Whether I'm playing a match or just working out, it’s always a great experience
                </p>
                <h4>
                    Alex, Badminton Player
                </h4>
            </div>
        </div>
    </section>

    <footer>
        <p>
            &copy; 2024, THE SPORTS CLUB, All Rights Reserved
        </p>
    </footer>
</body>

</html>